{:dev-http {8000 "site/public"}
 :nrepl {:port 7888}
 :deps true

 :builds
 {:site
  {:target :browser
   :output-dir "site/public/js"
   :externs ["externs.js"]
   :compiler-options {:optimizations :advanced
                      :source-map true
                      :pretty-print false}
   :modules {:site {:init-fn ty.site.core/init}}}

  ;; GitHub Pages deployment build
  :github
  {:target :browser
   :asset-path "https://cdn.jsdelivr.net/npm/@gersak/ty@0.2.0"
   :output-dir "docs/js"
   :externs ["externs.js"]
   :closure-defines {ty.site.core/ROUTER_BASE "ty"
                     ty.site.core/PRODUCTION true}
   :compiler-options {:optimizations :advanced
                      :source-map true
                      :pretty-print false}}}}
