@import "tailwindcss";

@source "../**/*.{cljs,cljc,clj}";

@layer base {

  *,
  ::before,
  ::after {
    border-color: var(--ty-border);
  }
}

/* Custom component classes for the demo app */
@layer components {
  body {
    color: var(--ty-text);
  }

  .demo-section {
    @apply rounded-lg shadow-md p-6 mb-6;
    background: var(--ty-surface-elevated);
  }

  .demo-section h3,
  h4 {
    color: var(--ty-color-neutral-mild)
  }

  .demo-title {
    @apply text-2xl font-bold mb-4;
    color: var(--ty-text-strong);
  }

  .demo-subtitle {
    @apply text-lg font-semibold mb-3;
    color: var(--ty-text);
  }

  .code-block {
    @apply rounded-md overflow-x-auto font-mono text-sm p-4 mb-4;
    color: var(--ty-text-mild);
    background: var(--ty-bg-neutral);
  }

  .demo-grid {
    @apply grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3;
  }

  /* Menu Item Component */
  .menu-item {
    @apply cursor-pointer flex items-center gap-2 lg:gap-3 w-full px-3 lg:px-4 py-2 text-left rounded-md transition-colors text-sm lg:text-base;
    color: var(--ty-text-soft);
  }

  .menu-item:hover {
    background-color: var(--ty-surface-elevated);
    color: var(--ty-text-strong);
  }

  .menu-item:focus {
    @apply outline-none;
  }

  .menu-item.active {
    @apply outline-none ring-2;
    color: var(--ty-text-strong);
    background-color: var(--ty-bg-primary-mild);
    --tw-ring-color: var(--ty-color-primary-faint);
  }

}
